<!DOCTYPE html>
<head>
    <title>To-Do List</title>
    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>

<body>
<div class="container text-center align-items-center mt-5" id="container">
    <h2 class="" id="title"> To Do List</h2>



    <ul th:replace="components/list :: _list"></ul>

    <h4 th:if="${#lists.isEmpty(taskList)}">There are no tasks yet</h4>

    <form th:replace="components/taskForm :: _taskForm"></form>

    
    <h2 class="d-none" id="title-edit"> Editing Task</h2>

    <form th:replace="components/editForm :: _editForm"></form>



</div>
<script type="text/javascript" th:src="@{/script.js}"></script>
</body>

</html>